//A sass file called main.scss
//(which will be responsible for importing the colors.scss and text.scss files)


@use './abstracts'as a;

h1 {
  text-align: center;

  & img {
    width: 10%;
  }
}

h2 {
  color: a.$title-color;

  background-color: a.$primary-color;
  font-size: a.$font-size-title;

}

p {
  color: a.$text-color;
  font-size: a.$font-size-body;
}

.app {
  background-color: a.$secondary-color;

}