//A sass file called main.scss
//(which will be responsible for importing the colors.scss and text.scss files)

@use 'colors';
@use 'text';

h2 {
  color: $title-color;
  font-size: $font-size-title;
  background-color: $primary-color;

  &__img {
    width: 10%;
  }
}

p {
  color: $text-color;
  font-size: $font-size-body;
}

.app {
  background-color: $secondary-color;
}